@model VacationPlanner.Models.Project
@{
    ViewData["Title"] = "Create Project";
}
<h1>Create Project</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="CustomerId" class="form-label">Customer</label>
        <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="form-select"></select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Start" class="form-label"></label>
        <input asp-for="Start" type="date" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="End" class="form-label"></label>
        <input asp-for="End" type="date" class="form-control" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
